<button class="form__submit">Calcular</button>

<style>
  .form__submit {
    cursor: pointer;
    background-color: var(--accent-color);
    color: #fff;
    user-select: none;

    font-weight: var(--medium-fw);
    margin-left: auto;
    margin-right: auto;
    height: 3rem;
    width: 100%;
    border-radius: var(--radius-sm);
    outline: none;
    transition: background-color 0.2s ease;
  }

  .form__submit:hover {
    opacity: 0.92;
  }

  .form__submit:focus,
  .form__submit:active {
    transform: scale(0.96);
  }
</style>
